body {
    margin-right: 15%;
    margin-left: 15%;
    background-image: url();
}


.maingrid {
        display: grid;
        grid-template-rows: 180px 400px 400px 100px;
        row-gap: 20px;
        background-color: black;
        padding: 30px;
        border-style: ridge;
        border-radius: 5px;
        border-color: gold;
        border-width: 5px;
        margin-right:  auto;
        margin-left: auto;
        
}
.maingrid > div {
        background-color: #4e4c4ce0;
        border: 1px solid black;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        
}

#navbut1, #navbut2, #navbut3 {
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bolder;
}  

#maingrid1 { 
          border-style: outset;
          border-color: #c60000;
          border-width: 5px;
          border-radius: 5px;
}
#maingrid2 { 
border-style: outset;
border-color: #0089de;
border-width: 5px;
border-radius: 5px;
}
#maingrid3 { 
border-style: outset;
border-color: #c60000;
border-width: 5px;
border-radius: 5px;
}


@media screen and (min-width: 1200px) {
.tg16banner250 {     display:none;       

}
}

@media screen and (max-width: 1200px) {
.tg16banner650 {     display:none;       

}
}








@media screen and (max-width: 600px)  {
#navbut1 {  font-size:15px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                       
}
}
